#Server configuration
#DATABASE_URL="postgresql://postgres:admin@10.103.128.81:5432/musicdle"
DATABASE_URL="postgresql://xxxx:xxxx@localhost:5432/musicdle"
PORT = 
CLIENT_URL=

#Spotify
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
LASTFM_API_KEY=
